{% extends 'html/base.html' %}
{% block title %}
Направления работ | Психологический центр Гармония Жизни в Миассе
{% endblock %}
{% block content %}
{% load static %}
<div class="container mt-2">
    <div class="row">
        {% for i in work %}
            <div class="col-sm-3 m-4 border" style="border-radius:10px" type="button" class="btn btn-primary"
                 data-toggle="modal" data-target="#{{ i.name }}">
                <h5 class="text-center">{{ i.name }}</h5>
                <div style="background-color:black;height: 1px"></div>
                <img src="{% static 'img/kot_1.jpg' %}" width="250px" height="250px" class="rounded mx-auto d-block my-2">
            </div>
            <div class="modal fade" id="{{ i.name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ i.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ i.text }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
